@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

header {
    background-color: #202021;
    box-shadow: 0px 3px 10px #464646;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}
 
.imagem{
    height: 50px;
    padding-right: 4px;
  }

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
    color: rgb(255, 255, 255);
    text-shadow: black -1px 0;
    text-transform: uppercase;
    position: relative; /* Importante para o uso de :after */
    cursor: pointer;
}

.nav-item::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -3px;
    width: 0; /* Inicialmente, a linha começa com largura 0 */
    height: 3px;
    background-color: rgb(255, 145, 0);
    transition: width 0.3s ease, left 0.3s ease;
    transform: translateX(-50%);
}

.nav-item:hover::after {
    width: 100%; /* Expande a linha até cobrir todo o elemento */
    left: 0; /* A linha se expande a partir do centro */
    transform: none;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
}

.cta {
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .cta span {
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 14px;
    padding-right: 15px;
    text-transform: uppercase;
  }
  
  .cta svg {
    transform: translateX(-8px);
    transition: all 0.3s ease;
  }
  
  .cta:hover svg {
    transform: translateX(0);
  }
  
  .cta:active svg {
    transform: scale(0.9);
  }
  
  .hover-underline-animation {
    position: relative;
    color: #d5d5d2;
    padding-bottom: 20px;
  }
  
  .hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #D9501E;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .cta:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  


.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}


@media screen and (max-width: 730px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }
    .nav-item {
        display: none;
    }
    .sair-button {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .sair-button {
        display: block;
        padding: 1rem 2rem;
    }
    .mobile-menu .sair-button button {
        width: 100%;
    }
    .mobile-menu.open {
        display: block; /* Menu aparece quando a classe 'open' é adicionada */
    }
}